/* Header Section */

*{
    --primary: #fec32b;
    --secondary: #df5f38;
    --third: #4b4b4d;
    --forth: #4b5369;
    --fifth: #fff;
    --font1: monospace;
}
::placeholder {
    color: var(--fifth);
    font-family: var(--font1);
}
.logo {
    width: 100%;
}
.main-heading {
    margin-top: 20%;
}
.big {
    color: var(--primary);
    font-weight: 700;
    font-family: var(--font1);
}
.banker {
    color: var(--secondary);
    font-weight: 700;
    font-family: var(--font1);
}
.atm {
    color: var(--third);
    font-weight: 900;
    font-family: var(--font1);
}
.right-head-text {
    margin-top: 13%;
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    margin-right: 9%;
    color : var(--third);
}

/* Landing Section */

.landing-content {
    background-color: var(--forth);
    display: flex;
}
.main-text-div {
    padding: 20% 20%;
}
.main-text-head, .sele-text-head {
    color: var(--fifth);
    font-size: 3rem;
}
.main-text, .sele-text {
    padding: 3% 0%;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--fifth);
    line-height: 150%;
}
.insert-card-img {
    width: 70%;
    margin: 45% 0%
}
.btn-div {
    margin-bottom: 1%;
}
.card-btn-left, .card-btn-right {
    width: 100%;
    padding: 5%;
    font-size: 20px;
    font-family: var(--font1);
    font-weight: 700;
}
.card-btn-left {
    border-radius: 0px 20px 20px 0px;
    text-align: left;
}
.card-btn-right {
    border-radius: 20px 0px 0px 20px;
    text-align: right;
}

/* Password Section */

.pass-content {
    background-color: var(--forth);
    display: none;
}
.pass-div {
    width: 50%;
    text-align: center;
    margin-top: 9%;
    margin-bottom: 7%;
    
}
.pass-head {
    color: var(--fifth);
    margin-bottom: 15%;
    font-size: 3rem;
}
.pass-input {
    border: 2px solid deepskyblue;
    background-color: var(--forth);
    border-radius: 15px;
    margin-bottom: 15%;
    color: var(--fifth);
    padding: 2%;
    width: 60%;
}
.fail-pwd {
    color: red;
    font-size: 2.2rem
}
.btn-icon {
    width: 40px;
}

/* Menu Section */

.selection-content {
    background-color: var(--forth);
    display: none;
}
.sele-text-div {
    margin: 11% 0% 7% 10%;
}

/* Cash-withdraw section */

.cash-withdraw {
    background-color: var(--forth);
    display: none;
}
.cashwithdraw-div {
    width: 50%;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 14%;
}
#transition, #transition2 {
    color: green;
}
/* Transfer Section */

.transfer {
    background-color: var(--forth);
    display: none;
}
.transfer-input {
    border: 2px solid deepskyblue;
    background-color: var(--forth);
    border-radius: 15px;
    margin-bottom: 5%;
    color: var(--fifth);
    padding: 2%;
    width: 60%;
}

/* Bill Payment */

.bill-payment {
    background-color: var(--forth);
    display: none;
}

/* Deposit */


.deposit {
    background-color: var(--forth);
    display: none;
}

/* Check Balance */

.check-balance {
    background-color: var(--forth);
    display: none;
}
.check-text {
    color: white;
    font-size: 35px;
    font-family: serif;
}

/* Exit */

.exit {
    background-color: var(--forth);
    display: none;
}
.exit-div {
        width: 50%;
        text-align: center;
        margin-top: 20%;
        margin-bottom: 23%
}
.exit-text {
    font-size: 25px;
    color: #df5f38;
    font-family: emoji;
}