body {
    background-color: #323337;
}
h1 {
    font-size: 5rem;
    margin: 0px;
    font-family: cursive;
    color: #ad9551;
}
h2 {
    font-size: 3rem;
    margin: 0px;
    font-family: cursive;
    color: #ad9551;
}
a {
    color: #747474;
    text-decoration: none;
    padding: 0px 25px;
    font-size: 20px;
}
a:hover {
    color: #ad9551;
    transition: all 1s;
}
h3 {
    font-family: monospace;
    color: #fff;
    font-size: 25px;
}
button {
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ad9551;
    background-color: transparent;
    color: #ad9551;
    font-size: 15px;
    font-family: monospace;
}
button:hover {
    background-color: #ad9551;
    color: #fff;
    transition: all 1s;
}
P {
    color: #747474;
}
label {
    color: #fff;
    margin-right: 3%;
    font-size: 20px;
}
input, textarea {
    background-color: #343436;
}
table {
    margin-top: 2%;
}
table, th, td {
    border: 1px solid black;
    color: #fff;
    text-align: center;
}
th, td {
    padding: 20px;
}